.carouselBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    .slick-slider {
        width: 100%;
        display: flex;
        align-items: start;
        .slick-dots {
            display: flex !important;
            flex-direction: row;
            justify-content: end;
            li {
                width: 62px;
                height: 8px;
                border-radius: 40px;
                background: #676565;
                button {
                    width: 100%;
                    height: 100%;
                    &::before {
                        display: none;
                    }
                }
            }
            .slick-active {
                background: #000;
            }
        }
    }
    .triggerZone {
        position: absolute;
        z-index: 5;
        width: 15%;
        height: 46.7%;
    }
    .triggerZonePrev {
        left: 0;
    }
    .triggerZoneNext {
        right: 0;
    }
}
.carouselReviews {
    .triggerZone {
        width: 23%;
        height: 30.6%;
    }
}