.closeForm {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid #1F1D1D;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    right: 3.5%;
}